body{
    height: 95.5vh;
    background-image: url(img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#name{
    width: 70%;
    background-color: rgba(80,2,140,0.9);
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: inset 0px 0px 30px 5px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-family: ubuntu;
    padding: 20px;
}
#Question{
    width: 90%;
    padding: 20px;
    background-color: rgba(80,2,140,0.9);
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: inset 0px 0px 30px 5px #ccc;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-family: ubuntu;
}
#Prize{
    width: 30%;
    padding: 20px;
    background-color: rgba(80,2,140,0.9);
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: inset 0px 0px 30px 5px #ccc;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-family: ubuntu;
}

.Options{
    display: flex;
    justify-content: center;
}
.one{
    width: 100%;
    margin-right: 10px;
}
.two{
    width: 100%;
    margin-left: 10px;
}
#myBtn{
    width: 80%;
    padding: 20px;
    background-color: rgba(80,2,140,0.9);
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: inset 0px 0px 30px 5px #ccc;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-family: ubuntu;
    cursor: pointer;
}
#option-2{
    width: 80%;
    padding: 20px;
    background-color: rgba(80,2,140,0.9);
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: inset 0px 0px 30px 5px #ccc;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-family: ubuntu;
    cursor: pointer;
}
#option-3{
    width: 80%;
    padding: 20px;
    background-color: rgba(80,2,140,0.9);
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: inset 0px 0px 30px 5px #ccc;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-family: ubuntu;
    cursor: pointer;
}
#option-4{
    width: 80%;
    padding: 20px;
    background-color: rgba(80,2,140,0.9);
    border-radius: 100px;
    border: 5px solid #fff;
    box-shadow: inset 0px 0px 30px 5px #ccc;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-family: ubuntu;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-image: url(img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    width: 50%;
    animation-name: animatetop;
    animation-duration: 0.5s;
    border-radius: 30px;
}
@-webkit-keyframes animatetop {
    from {top:300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #50028c;
    color: #fff;
    font-family: ubuntu;
    border-radius: 10px 10px 0px 0px;
}

.modal-body {padding: 40px;
    display: flex;
    align-items: center;
}

.button{
    background-color: #fff;
    border: 2px solid #50028c;
    color: #50028c;
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    font-size: 20px;
    transition: 0.5s;
    outline: none;
    font-weight: bolder;
}
.button:hover{
    border: 2px solid #50028c;
    background-color: #50028c;
    color: #fff;
    
}
#sonu{
    width: 70%;
    height: 40px;
    padding-left: 10px;
    border: 2px solid #50028c;
    border-radius: 50px;
    margin-right: 5px;
    color:#50028c;
    outline: none;
    font-size: 18px;
    font-family: ubuntu;
}
::placeholder{
    color: rgba(80,2,140,0.6);
    font-size: 18px;
}

.modalone {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-contentone {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    width: 50%;
    box-shadow: inset 0px 0px 50px 5px rgba(80,2,140,0.9);
    -webkit-animation-name: animatetopone;
    -webkit-animation-duration: 1s;
    animation-name: animatetopone;
    animation-duration: 1s;
    border-radius: 20px;
}
@-webkit-keyframes animatetopone {
    from {left:-300px; opacity:0} 
    to {left:0; opacity:1}
}

@keyframes animatetopone {
    from {left:-300px; opacity:0}
    to {left:0; opacity:1}
}

.closeone {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeone:hover,
.closeone:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerone {
    background-color: rgba(80,2,140,0.9);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 10px;
}

.modal-bodyone {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
    font-size: 40px;
    font-weight: bolder;
    font-family: ubuntu;
}
#win-prize{
    padding-top: 20px;
    color: rgba(80,2,140,0.9);
}

.modal-footerone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}


.modaltwo {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-contenttwo {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    width: 50%;
    box-shadow: inset 0px 0px 50px 5px rgba(80,2,140,0.9);
    -webkit-animation-name: animatetopone;
    -webkit-animation-duration: 1.5s;
    animation-name: animatetopone;
    animation-duration: 1.5s;
    border-radius: 20px;
}

@-webkit-keyframes animatetopone {
    from {left:-300px; opacity:0} 
    to {left:0; opacity:1}
}

@keyframes animatetopone {
    from {left:-300px; opacity:0}
    to {left:0; opacity:1}
}

.modal-headertwo {
    background-color: rgba(80,2,140,0.9);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 20px;
}

.modal-bodytwo {padding: 2px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.modal-footertwo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

